<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SS14 Movie Night</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{base}}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{base}}css/fonts.css">

    <!-- Favicon -->
    <link rel="icon" href="images/ss14-icon.svg" sizes="any" type="image/svg+xml">

    <!-- OGP embedding -->
    <meta content="SS14 Movie Night" property="og:title" />
    <meta content="Vote for a movie to watch next!" property="og:description" />
    <meta content="https://visne.xyz/movienight/" property="og:url" />
    <meta content="{{base}}images/ss14-icon.png" property="og:image" />
    <meta content="#e23229" data-react-helmet="true" name="theme-color" />
</head>
<body>
    {{> header/header}}
    <div class="content">
        {{> content/sidebar/sidebar}}
        <div class="movie-list">
            {{#each movies}}
                {{> content/movie/movie}}
            {{/each}}
        </div>
    </div>
    {{> footer/footer}}

    <script src="{{base}}js/index.js"></script>
</body>
</html>