.add-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.add-box {
    padding: 24px;
}

.status {
    margin: 16px 0 16px 0;
    padding: 16px;
    border-radius: 8px;
    font-weight: 600;
}

.fail-status {
    background-color: var(--fail-color);
}

.success-status {
    background-color: green;
}

.add-buttons {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

.no-button {
    background-color: var(--fail-color);
}