/* region Source Sans Pro */

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-ExtraLight.woff2) format("woff2");
    font-weight: 200;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.woff2) format("woff2");
    font-weight: 200;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-Light.woff2) format("woff2");
    font-weight: 300;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-LightItalic.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-Regular.woff2) format("woff2");
    font-weight: 400;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-RegularItalic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-SemiBold.woff2) format("woff2");
    font-weight: 600;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-Bold.woff2) format("woff2");
    font-weight: 700;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-BoldItalic.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-Black.woff2) format("woff2");
    font-weight: 900;
	font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-BlackItalic.woff2) format("woff2");
    font-weight: 900;
    font-style: italic;
	font-display: swap;
}

/* endregion */