:root {
    /* Style */
    --background-color: #181a1b;
    --foreground-color: #1c1e1f;
    --accent-color: #e23229;

    /* Header/footer style */
    --header-footer-color: #0f1111;
    --header-height: 80px;

    /* Centering settings */
    --content-max-width: 1200px;
}

body {
    background-color: var(--background-color);
    color: rgb(235, 235, 235);
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--foreground-color);
}

li a {
    display: block;
    padding: 4px 8px;
    color: rgb(235, 235, 235);
    text-decoration: none;
}

li a:hover {
    background-color: #555555;
    color: white;
}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Sticky */
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    /* Style */
    background-color: var(--header-footer-color);
    height: var(--header-height);
}

.header-content {
    width: 100%;
    max-width: var(--content-max-width);
    display: flex;
    align-items: center;
}

.header-button {
    height: inherit;
    margin: 4px 6px 4px 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(235, 235, 235);
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
}

.header-logo {
    height: var(--header-height);
    padding: 12px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: var(--content-max-width);
    align-self: center;
}

.sidebar {
    background-color: var(--foreground-color);
}

@media (min-width: 800px) {
    .sidebar {
        align-self: start;
        position: -webkit-sticky;
        position: sticky;
        top: calc(var(--header-height) + 10px);
        margin-right: 16px;
    }
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

.main {
    font-size: 30px;
    padding: 32px;
    background-color: var(--foreground-color);
}

.gh-login-button {
    display: flex;
    align-items: center;

    font-weight: 600;

    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;

    gap: 10px;

    padding: 10px;

    margin-left: auto;
    margin-right: 12px;
    border-radius: 8px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;

    background-color: var(--header-footer-color);
    height: 60px;
}