:root {
    /* Style */
    --background-color: #121212;
    --surface-color: #1d1d1d;

    /* Header/footer style */
    --header-footer-color: #0f1111;
    --header-height: 50px;

    /* Centering settings */
    --content-max-width: 1100px;
    --side-margin: max(0px, calc((100vw - var(--content-max-width)) / 2));
}

body {
    background-color: var(--background-color);
    color: rgb(235, 235, 235);
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--surface-color);
}

li a {
    display: block;
    padding: 4px 8px;
    color: rgb(235, 235, 235);
    text-decoration: none;
}

li a:hover {
    background-color: #555555;
    color: white;
}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Sticky */
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    /* Style */
    background-color: var(--header-footer-color);
    height: var(--header-height);
}

.header-content {
    margin-left: var(--side-margin);
    max-width: var(--content-max-width);
    display: flex;
    align-items: center;

    justify-self: stretch;
}

.header-button {
    margin: 10px;
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: var(--content-max-width);
    align-self: center;
}

.sidebar {
    background-color: var(--surface-color);
}

@media (min-width: 800px) {
    .sidebar {
        align-self: start;
        position: -webkit-sticky;
        position: sticky;
        top: calc(var(--header-height) + 10px);
        margin-right: 16px;
    }
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

.main {
    font-size: 30px;
    padding: 32px;
    background-color: var(--surface-color);
}

.gh-login-button {
    margin-left: auto;
}

.footer {
    background-color: var(--header-footer-color);
    height: 100px;
}