<div class="footer">
    <div class="footer-content">
        IMDb, IMDbPro, STARmeter and all related logos are trademarks of IMDb.com, Inc. or its affiliates.<br>
        This product uses the TMDB API but is not endorsed or certified by TMDB.
    </div>
</div>