<div class="filter styled-box closed">
    <div class="filter-toggle">
        Watch Status
        <img class="filter-chevron" src="{{base}}images/chevron.svg" width="12em" alt="Chevron">
    </div>
    <div class="filter-content">
        Content
    </div>
</div>